body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
    background-color: rgb(181, 216, 228);
}



#logo{
    margin: 0px;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    color: white;
    width: 50%;
    border-radius: 20%;
    text-shadow:
    1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;
}

ul{
    margin: 0px;
}

body > header{
    background-color: rgb(37, 102, 187);
    color: white;
    display: flex;
    height: 12vh;
    align-items: left;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 10px;
    margin: 16px;
}

body > header > nav > ul{
    list-style: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.navbutton{
    color:white;
    text-decoration: none;
    padding: 16px;
    border: 1px solid white;
    border-radius: 10%;
    font-family: 'Times New Roman', Times, serif;
}

body > main article{
    width: 70%;
    margin: auto;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

#main-content{
    display: flex;
    justify-content: space-around;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

#main-content aside{
    width: 70%;
}

form{
    text-align: center;
}

h2{
    text-align: center;
}

body > footer{
    background-color: rgb(37, 102, 187);
    color: white;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
}

img{
    border-radius: 100%
}

body > footer{
    display: flex;
}

#footer-ul{
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 16px;
}

#footer-ul > div > li > a{
    margin-left: 12px;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 16px;
}

.circle1 {
    width: 180px;
    height: 180px;
    line-height: 180px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: #89d383;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
  }

.circle2 {
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: #89d383;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
  }

.circle3 {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: #89d383;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
  }